.cooperation-card {
  max-width: 292px;
  max-height: 200px;
  background-color: #333333;
  border-radius: 10px;

  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    &--contacts {
      width: 108px;
      height: 27px;
    }
  }
}
