.footer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copy {
    font-size: 12px;
    color: #828282;
    text-transform: uppercase;
  }

  &__bottom {
  }
  &__menu {
    display: flex;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__menu-link {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
}
