<article class="cooperation-card cooperation-card--first">
  <div class="cooperation-card__top">
    <div class="cooperation-card__item">
      <span>Your</span>
      <svg class="cooperation-card__icon cooperation-card__icon--contacts">
        <use xlink:href="images/sprite.svg#cooperation-tel"></use>
      </svg>
    </div>

    <div class="cooperation-card__item">
      <span>contacts</span>
      <svg class="cooperation-card__icon cooperation-card__icon--contacts">
        <use xlink:href="images/sprite.svg#cooperation-mail"></use>
      </svg>
    </div>
  </div>

  <div class="cooperation-card__bottom">
    <span class="cooperation-card__num">
      1
    </span>
    <p class="cooperation-card__text">
      Leave your contacts or write to us in messengers
    </p>
  </div>
</article>

<article class="cooperation-card cooperation-card--second">
  <div class="cooperation-card__top">
    <div class="cooperation-card__item">
      <span>we</span>
      <svg class="cooperation-card__icon cooperation-card__icon--we">
        <use xlink:href="images/sprite.svg#cooperation-we"></use>
      </svg>
    </div>

    <div class="cooperation-card__item">
      <span>discuss</span>
      <svg class="cooperation-card__icon cooperation-card__icon--discus">
        <use xlink:href="images/sprite.svg#cooperation-discus"></use>
      </svg>
    </div>
  </div>

  <div class="cooperation-card__bottom">
    <span class="cooperation-card__num">
      2
    </span>
    <p class="cooperation-card__text">
      We discuss details and answer your questions
    </p>
  </div>
</article>

<article class="cooperation-card cooperation-card--third">
  <div class="cooperation-card__top">
    <div class="cooperation-card__item cooperation-card__item--agreement">
      <span>agreement</span>
      <svg class="cooperation-card__icon cooperation-card__icon--agreement">
        <use xlink:href="images/sprite.svg#cooperation-agreement"></use>
      </svg>
    </div>
  </div>

  <div class="cooperation-card__bottom">
    <span class="cooperation-card__num">
      3
    </span>
    <p class="cooperation-card__text">
      We conclude an agreement
    </p>
  </div>
</article>

<article class="cooperation-card cooperation-card--
fourth">
  <div class="cooperation-card__top">
    <div class="cooperation-card__item cooperation-card__item--agreement">
      <div class="cooperation-card__inner">
        <span>tea</span>
        <span>tea</span>
      </div>
      <svg class="cooperation-card__icon cooperation-card__icon--agreement">
        <use xlink:href="images/sprite.svg#cooperation-agreement"></use>
      </svg>
    </div>
  </div>

  <div class="cooperation-card__bottom">
    <span class="cooperation-card__num">
      4
    </span>
    <p class="cooperation-card__text">
      We conclude an agreement
    </p>
  </div>
</article>