<article class="cooperation-card">
  <div class="cooperation-card__top">
    <div class="cooperation-card__item">
      <span></span>
      <svg class="">
        <use xlink:href="images/sprite.svg#"></use>
      </svg>
    </div>

    <div class="cooperation-card__item">
      <span>contacts</span>
      <svg class="">
        <use xlink:href="images/sprite.svg#"></use>
      </svg>
    </div>
  </div>

  <div class="cooperation-card__bottom">
    <span class="cooperation-card__num">
      1
    </span>
    <p class="cooperation-card__text">
      Leave your contacts or write to us in messengers
    </p>
  </div>

</article>