<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">

      <div class="footer__top">
        <div class="footer__inner">
          <address class="contact">
            <a class="contact__text contact__text--address" href="#">
              Na Hřebenech II 1718/8, 14000 Praha 4-Nusle, Czech Republic
            </a>

            <a class="contact__text" href="mailto:info@kratomhelper.com">
              info@kratomhelper.com
            </a>

            <a class="contact__text" href="tel:+420722133136">
              +420722133136
            </a>
          </address>

          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>

            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>

            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>

            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#skype"></use>
                </svg>
              </a>
            </li>

            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__icon">
                  <use xlink:href="images/sprite.svg#viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="footer__bottom">
        <p class="footer__copy">
          Copyright © 2020
        </p>

        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Terms & Conditions
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>