<header id="header-section" class="header">

  <div class="container container--big">

    <div class="header__inner">

      <a class="logo" href="#body">
        <img class="logo__img" src="/images/logo.png" alt="logo image">
      </a>

    </div>

    <nav class="menu">

      <ul class="menu__items">
        <li class="menu__item">
          <a class="menu__link" href="#">
            about our tea
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            profitable proposition
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            what are you getting?
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            catalog
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            FAQ
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            reviews
          </a>
        </li>
      </ul>

      <!-- <button class="menu__btn">
        <svg class="">
          <use xlink:href="images/sprite.svg#"></use>
        </svg>
      </button> -->
    </nav>

    <button class="header__btn">
      contact us
    </button>

  </div>

</header>