<article class="review-card">
  <div class="review-card__content">
    <p class="review-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra non consectetur tincidunt erat venenatis. Lorem
      ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>

  <div class="review-card__profile">
    <img class="review-card__img" src="./images/content/review/profile/1.png" alt="image user">
    <div class="review-card__box">
      <div class="review-card__profile-title">
        Arlene McCoy
      </div>

      <div class="review-card__profile-desc">
        34 y.o., field of activity
      </div>
    </div>
  </div>
</article>

<article class="review-card">
  <div class="review-card__content">
    <p class="review-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra non consectetur
    </p>
  </div>

  <div class="review-card__profile">
    <img class="review-card__img" src="./images/content/review/profile/2.png" alt="image user">
    <div class="review-card__box">
      <div class="review-card__profile-title">
        Robert Fox
      </div>

      <div class="review-card__profile-desc">
        34 y.o., field of activity
      </div>
    </div>
  </div>
</article>

<article class="review-card">
  <div class="review-card__content">
    <p class="review-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra non consectetur tincidunt erat venenatis. Lorem
      ipsum
      dolor sit amet, consectetur adipiscing elit...
    </p>
  </div>

  <div class="review-card__profile">
    <img class="review-card__img" src="./images/content/review/profile/3.png" alt="image user">
    <div class="review-card__box">
      <div class="review-card__profile-title">
        Arlene McCoy
      </div>

      <div class="review-card__profile-desc">
        34 y.o., field of activity
      </div>
    </div>
  </div>
</article>

<article class="review-card">
  <div class="review-card__content">
    <p class="review-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra non consectetur tincidunt erat venenatis. Lorem
      ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="review-card__profile">
    <img class="review-card__img" src="./images/content/review/profile/1.png" alt="image user">
    <div class="review-card__box">
      <div class="review-card__profile-title">
        Arlene McCoy
      </div>

      <div class="review-card__profile-desc">
        34 y.o., field of activity
      </div>
    </div>
  </div>
</article>