.about {
  padding: 75px 0 150px;

  @include _1140 {
    padding: 75px 0 100px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _1024 {
      align-items: initial;
    }
    @include _767 {
      flex-direction: column;
    }
  }

  &__img-box {
    min-width: 374px;
    margin-left: -20px;
    margin-right: 20px;
    @include _1024 {
      margin-right: 0;
    }

    @include _767 {
      min-width: 320px;
      margin-right: -20px;
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 625px;
    min-height: 383px;

    margin-right: 30px;
    object-fit: cover;
    object-position: 28%;

    @include _1024 {
      min-height: 527px;
      width: 374px;
    }

    @include _767 {
      min-height: 100%;
      width: 100%;
      margin-right: -20px;
    }
  }

  &__title {
    max-width: 338px;
    letter-spacing: 1px;

    @include _767 {
      font-size: 30px;
    }
  }

  &__inner {
    max-width: 645px;
    padding: 0 10px;

    @include _1024 {
      max-width: 56%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: space-between;
    }

    @include _767 {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__text {
    padding-bottom: 20px;
    line-height: 1.5;

    @include _1200 {
      padding-bottom: 20px;
    }
  }

  &__link {
    padding: 14px 40px;

    @include _1024 {
      max-width: 229px;
      text-align: center;
    }

    @include _767 {
      min-width: 280px;
      margin: 0 auto;
    }

    @include _380 {
      min-width: 100%;
    }
  }
}
