.advantages {
  padding: 100px 0 63px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    max-width: 624px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__subject {
    display: flex;
    margin-bottom: 10px;
    &::before {
      display: block;
      content: '';
      margin-right: 20px;
      padding: 11px;
      background-image: url('../images/icons/advantages-icon.svg');
      background-repeat: no-repeat;

      @include _767 {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @include _767 {
      flex-direction: column;
    }
  }

  &__desc {
    margin-left: 42px;

    @include _767 {
      margin-left: 0;
    }
  }
}
