.cooperation {
  padding: 75px 0 44px;

  @include _1140 {
    padding: 50px 0;
  }

  @include _767 {
    padding: 25px 0;
  }

  &__title {
    margin-bottom: 40px;

    @include _1140 {
      margin-bottom: 30px;
    }

    @include _767 {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
