<header id="header-section" class="header">

  <div class="container">

    <div class="header__inner">

      <a class="logo" href="#body">
        <img class="logo__img" src="/images/logo.png" alt="logo image">
      </a>

      <nav class="menu">

        <ul class="menu__items">
          <li class="menu__item menu__item--active">
            <a class="menu__link" href="#about">
              about our tea
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#proposition">
              profitable proposition
            </a>
          </li>
          <li class="menu__item menu__item--hide">
            <a class="menu__link" href="#advantages">
              what are you getting?
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#catalog">
              catalog
            </a>
          </li>
          <li class="menu__item menu__item--hide">
            <a class="menu__link" href="#questions">
              FAQ
            </a>
          </li>
          <li class="menu__item menu__item--hide">
            <a class="menu__link" href="#reviews">
              reviews
            </a>
          </li>

          <li class="menu__item menu__item--popup">
            <a class="menu__link" href="#">
              more
              <svg class="menu__icon">
                <use xlink:href="images/sprite.svg#arrowDown"></use>
              </svg>
            </a>

            <ul class="menu__popup-more">
              <li class="menu__popup-item">
                <a class="menu__link" href="#advantages">
                  what are you getting?
                </a>
              </li>

              <li class="menu__popup-item">
                <a class="menu__link" href="#questions">
                  FAQ
                </a>
              </li>

              <li class="menu__popup-item">
                <a class="menu__link" href="#reviews">
                  reviews
                </a>
              </li>
            </ul>

          </li>
        </ul>

        <a class="menu__link-btn link link--black" href="#contacts-section">
          <span class="link__text">contact us</span>
        </a>

      </nav>

      <button class="header__popup-btn">
        <span></span>
      </button>

    </div>
  </div>

</header>