.footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    padding: 30px 0;
    border-top: 1px solid $bgdefault;
    border-bottom: 1px solid $bgdefault;
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _1024 {
      align-items: flex-start;
    }
    @include _767 {
      flex-direction: column;
    }
  }

  .contact {
    display: flex;
    justify-content: space-between;

    @include _1024 {
      flex-direction: column;
      margin-right: 20px;
    }
    @include _767 {
      margin-right: 0px;
      margin-bottom: 30px;
    }

    &__text {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff;
      @extend %montserrat-700;

      &:not(:last-child) {
        margin-right: 30px;

        @include _1024 {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }

      &--address {
        min-width: 150px;
        &::before {
          content: url('../images/icons/map-pin.svg');
          margin-right: 10px;
          margin-bottom: -5px;
        }
      }

      &--mail {
        min-width: 200px;
        &::before {
          content: url('../images/icons/mail.svg');
          margin-right: 10px;
          margin-bottom: -5px;
        }
      }

      &--phone {
        min-width: 170px;
        &::before {
          content: url('../images/icons/phone.svg');
          margin-right: 10px;
          margin-bottom: -5px;
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _767 {
      margin: 0 auto;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 40px;

        @include _767 {
          margin-right: 25px;
        }
      }
    }

    &__icon {
      width: 20px;
      height: 20px;

      &--facebook {
        width: 10px;
      }

      &--skype {
        width: 24px;
        height: 24px;
      }

      &--viber {
        width: 22px;
        height: 24px;
      }
    }
  }

  &__copy {
    font-size: 12px;
    color: #828282;
    text-transform: uppercase;

    @include _767 {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    padding: 20px 0;
  }
  &__menu {
    display: flex;

    @include _767 {
      flex-direction: column;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 20px;

      @include _767 {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__menu-link {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
}
