.about {
  padding: 75px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 625px;
    height: 383px;
    margin-right: 30px;
    object-fit: cover;
  }

  &__inner {
    max-width: 645px;
    padding: 0 10px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 12px;
    color: $accent;
    text-transform: uppercase;
    @extend %montserrat-700;
  }

  &__title {
  }

  &__text {
    margin-bottom: 35px;
  }
}
