.advantages {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__subject {
    display: flex;
    margin-bottom: 10px;
    &::before {
      display: block;
      content: '';
      margin-right: 20px;
      padding: 11px;
      background-image: url('../images/icons/advantages-icon.svg');
      background-repeat: no-repeat;
    }
  }

  &__desc {
    margin-left: 42px;
  }
}
