.advantages {
  &__items {
  }
  &__item {
    &::after {
      display: block;
      content: '';
      padding: 11px;
      background-image: url('../images/icons/advantages-icon.svg');
      background-repeat: no-repeat;
    }
  }
}
