.catalog {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/content/catalog/2.png');
      top: 0;
      right: 0;
      width: 30px;
      height: 200px;
    }
  }
}
