.catalog {
  padding: 150px 0;

  position: relative;
  &::before {
    position: absolute;
    content: url('../images/content/catalog/2.png');
    top: -130%;
    right: -75%;
    transform: rotateZ(57deg);
    z-index: 10;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__images {
    position: relative;
    max-width: 385px;

    z-index: 1;
    &::before {
      position: absolute;
      content: url('../images/content/catalog/2.png');
      // background-image: url('../images/content/catalog/2.png');
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__inner {
  }
}
