.catalog {
  padding: 150px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__images {
    position: relative;
    &::before {
      position: absolute;
      content: url('../images/content/catalog/2.png');
      // background-image: url('../images/content/catalog/2.png');
      top: 0;
      right: 0;
      width: 30px;
      height: 200px;
      z-index: 0;
    }
  }
}
