.contacts {
  padding: 75px 0 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    color: #ba1111;
    width: 625px;
    height: 411px;
  }

  &__icon path {
    fill: #3806ee;
  }

  .ic {
    fill: #3806ee;
  }
}
