.contacts {
  padding: 75px 0 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
    @extend %montserrat-700;
  }

  &__icon {
    width: 625px;
    height: 411px;
  }

  &__icon path {
    position: relative;
    fill: #fff;

    &.selected {
      fill: $accent;

      &::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        border: 2px solid $accent;
      }
    }

    &:hover {
      fill: #ba1111;
    }
  }

  &__inner-svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
