.proposition {
  position: relative;
  height: 100%;
  max-width: 100%;
  max-height: 504px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__inner {
    max-width: 640px;
    margin-left: 50px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 13%;
      width: 75px;
      height: 504px;
      background-color: $accent;
    }
  }

  &__title {
    color: #333333;
  }

  &__text {
    font-size: 18px;
    color: #333333;
  }

  &__btn {
    max-width: 232px;
  }

  &__clock {
    display: flex;
  }

  &__clock-item {
    margin-right: 45px;
  }

  &__days,
  &__hours,
  &__minutes {
    font-size: 48px;
    color: #333333;
    @extend %impact-900;
  }

  &__text {
    font-size: 12px;
    @extend %montserrat-700;
  }
}
