.quiz {
  padding: 100px 0;
  &__link {
    padding: 14px 85px;
    background-color: $accent;
  }

  &__form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 14px;
  }

  &__label {
    width: 100%;
    max-width: 635px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid $bgdefault;
    border-radius: 10px;
  }

  &__input-checkbox {
    position: absolute;
    z-index: 1;
    opacity: 1;

    &:checked {
      background-color: red;
    }
  }

  &__label {
    // position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;

    &--active {
      &:before {
        // position: absolute;
        content: '';
        margin-right: 20px;
        background-image: url('../images/icons/quiz-ok.svg');
      }
    }
  }

  &__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #828282;
    border-radius: 3px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    &:checked {
      background-color: red;
    }
  }
}
