.quiz {
  width: 100%;
  padding: 100px 0;
  background-color: #333333;

  &__wrapper {
    position: relative;
  }
  &__link {
    padding: 14px 85px;
    background-color: $accent;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__test {
    max-height: 0;
    overflow: hidden;

    &--active {
      max-height: inherit;
    }
  }

  // min-height: 268px;

  // &__test-two {
  //   opacity: 0;
  // }

  // &__test-three {
  //   opacity: 0;
  // }

  &__subject {
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 30px;
    font-size: 14px;
    color: $accent;
  }

  &__progress {
    &::after {
      display: block;
      content: '';
      max-width: 1290px;
      height: 4px;
      margin-top: 8px;
      padding: 2px;
      background: #2e2d2d;
      border-radius: 5px;
    }

    &--line {
      &::after {
        display: block;
        content: '';
        width: 0;
        height: 4px;
        margin-top: 8px;
        padding: 2px;
        background: $accent;
        border-radius: 5px;
      }
    }
  }

  &__form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 14px;
  }

  &__box {
    width: 100%;
    max-width: 635px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid $bgdefault;
    border-radius: 10px;
  }

  &__label {
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #828282;
      border-radius: 3px;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &__input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      + .quiz__label::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 7px;
        margin-top: -2px;
        margin-left: 6px;
        margin-right: 20px;
        background-image: url('../images/icons/quiz-ok.svg');
      }
    }
  }

  &__label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    user-select: none;
  }

  &__link {
    position: absolute;
    right: 0;
  }
}
