.recommendation {
  padding: 150px 0 75px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 550px;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__img {
    width: 370px;
    height: 400px;
    object-fit: cover;
  }
}
