.recommendation {
  padding: 150px 0 75px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 550px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__profile {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 370px;
    height: 400px;
    margin-right: 30px;
    object-fit: cover;
  }

  &__name {
    margin-bottom: 10px;
    @extend %montserrat-700;
  }

  &__desc {
    font-size: 14px;
    color: #bdbdbd;
  }
}
