.top {
  padding: 70px 0 93px;
  // margin-bottom: -1px;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include _767 {
      flex-direction: column;
    }
  }

  &__left {
    width: calc(70% - 70px);

    @include _767 {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;
    padding-top: 100px;
    font-size: 72px;
    line-height: 1.4;
    letter-spacing: 3px;
    text-transform: uppercase;
    @extend %impact-900;

    @include _1140 {
      font-size: 48px;
    }

    @include _1024 {
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 1.2;
      letter-spacing: 0;
    }

    @include _767 {
      padding-top: 30px;
      font-size: 36px;
    }
    & span {
      color: $accent;
    }
  }

  &__subtitle {
    padding-bottom: 44px;
    font-size: 20px;
    text-transform: uppercase;
    @extend %impact-900;

    @include _1140 {
      max-width: 540px;
      letter-spacing: 2px;
    }

    @include _1024 {
      padding-bottom: 20px;
      letter-spacing: 1px;
    }
  }

  &__right {
    margin-right: -70px;
    z-index: 0;
  }

  &__img {
    min-width: 478px;
    height: 269px;
    object-fit: cover;

    @include _1140 {
      max-width: 280px;
      min-width: 0;
    }
    @include _767 {
      display: none;
    }
  }

  &__img-mob {
    display: none;

    @include _767 {
      display: inline-block;
    }
  }

  &__content {
    position: relative;
    padding: 20px;
    background-color: #2d2c2c;

    @include _1140 {
      max-height: 160px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 30px;
      height: 200px;
      background-color: $accent;

      @include _1140 {
        height: 160px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    font-size: 14px;

    align-items: center;
    @extend %montserrat-700;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include _1140 {
        margin-bottom: 10px;
      }
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
